-i https://pypi.org/project/besser-bot-framework/ besser-bot-framework
-i https://pypi.org/project/langchain/ langchain
langchain-core
langchain-experimental
langchain-openai
pydantic==2.4.2
pydantic_core==2.10.1
python-dotenv==1.0.1
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.8.0